Synergy Servers Rules
Main Rules
Harassment, racism, sexism, homophobia or any offensive language is forbidden.
-Do NOT RDM another player. Players should only be killed during events or simulations.
-Do NOT RDA another player. Players should only be arrest for valid RP reasons.
-Do NOT Meta Game. Giving away IC information in a non RP chat.
-Do NOT FailRP. Always attempt to stay in RP and make your character as realistic as possible realistic as possible. Try to RP in the correct manner.
-Do NOT randomly fire any weapon. If you need to test guns there is simulation and a shooting range.
-Hacking / Cheating / Script is strictly forbidden and will result in a permanent ban.
-Glitches / Exploits these should be reported to staff. Abusing them and not telling staff will also result in a ban.
-This is a Serious RP server so always act in a serious way.
-You should always contact staff correctly by using the @. Moaning in OOC will get you nowhere.
-You should always listen to your higher ups. Unless you have a valid RP reason.
-Being ‘corrupt’ or ‘evil’ ect must only be used with permission and in an RP sense.
-Rocket boots & Active Camouflage can only be used with Fleet or admin permission.
-If Jedi or Sith are fighting do NOT shoot unless ordered.
-When a player is using “active camouflage” you need to act like you can NOT see them if they are crouching or alt walking.
-If you bump into players using "camouflage" then you can see the person for a few seconds.
-Don't abuse addons (Eg. Grapple Hooking Players  randomly).


Job and Character Rules
-Before changing / switching regiments you must have had 5 days minimum in the regiment you are currently in or you must have permission from your commander.
-You MUST listen to higher ups.
-Training a CT must be done by a SSGT+.
-You’re Character cannot RP as ‘troll’ (saying you’re a racist trooper).


Flight Rules
-You may only fly if you are flight trained.
-If you fail training, there is a 1 week cool down before you can try again.
-You must ask permission to fly and to take off when wanting to fly.


Jedi Rules
-Jedi’s cannot use Sith forces. (Ignite and Combust)
-Your lightsaber should be holstered unless you have a valid RP reason.
-Your lightsaber should always be the correct colour.
-Commanders outrank Jedi when commanding their own regiment.
-All commands to clones must be reasonable.


Fleet Rules
-You may grant/deny any requests on the server.
-Do not deny things without a valid reason.
-Higher ranks outrank lower ranks (e.g. An Ensign grants something but the Grand Admiral denies it after, it would be denied).
-Only the Grand Admiral can accept/deny fleet applications.
-Only Grant or Deny things when you are role playing as fleet.
-The highest ranking member of fleet online walks in with the music during debrief.


Event Rules
-Do not run rouge during events
-Listen to higher ups
-Do NOT ruin events.
-Do NOT talk in Debrief unless given PTS.
Staff Rules
-Always respect players during all situations (This includes TS and the forums).
-Use bans and kicks as a last resort.
-Higher staff members are allowed to warn lower members (eg An admin can warn a mod).
-Only use your physgun when needed and don't hold it out during RP.
-Cloak and put your physgun away when your noclipping
-Do NOT add yourself to roles that you shouldn’t be.
-Do NOT abuse commands
-Changing a ban that another staff member has done without the permission of that staff member OR an SA/Head Mod is not permitted.
-Bans should state what rules they broke and should have your name at the end. (eg. RDM x3 | LTAP ~Salty)
